
@import 'nav-sidebar';

body {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

th, td {
 font-size: 15px;
}

#page-wrapper {
	padding-top: 30px;
}

.centered {
  overflow: hidden;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.btn-panel {
	margin-left: 30px;
}

.page-header {
   font-family: 'Quicksand', sans-serif;
   font-weight: bold;
   font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', sans-serif;
}

.border-around {
  border: 2px solid rgba(45, 68, 148, 0.88);
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 5px;
}

.flex-left {
  flex: 7;
  padding: 10px;
}

.flex-right {
  padding: 10px;
}

/* ___________________________________________________________________________ */

/* bootstarp customisation */
.navbar-inverse {
    background-color: rgb(27, 36, 101);
    border-color: rgb(70, 61, 61);
    box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.20);
}

.navbar-inverse .navbar-brand {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

nav a, nav li>a {
   font-family: 'Catamaran', sans-serif;
}

.nav .open > a:hover {
    background-color: #06135d;
}


label, .control-label, .help-block, .checkbox, .radio {
    font-size: 15px;
    font-weight: normal;
}

.progress {
height: 20px;
margin-bottom: 20px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.progress {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
}
.progress {
height: 12px;
background-color: #ebeef1;
background-image: none;
box-shadow: none;
}
.progress-bar {
float: left;
width: 0;
height: 100%;
font-size: 12px;
line-height: 20px;
color: #fff;
text-align: center;
background-color: #428bca;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
-webkit-transition: width .6s ease;
transition: width .6s ease;
}
.progress-bar {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);
background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);
}
.progress-bar {
box-shadow: none;
border-radius: 3px;
background-color: #0090D9;
background-image: none;
-webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
-moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
-ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
-o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.progress-bar-success {
background-image: -webkit-gradient(linear,left 0,left 100%,from(#5cb85c),to(#449d44));
background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
background-image: -moz-linear-gradient(top,#5cb85c 0,#449d44 100%);
background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',endColorstr='#ff449d44',GradientType=0);
}
.progress-bar-success {
background-color: #0AA699;
background-image: none;
}
/* ____________________________________________________________ */

/* Error Pages */

.error {
  margin-top: 50px;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

/* Buttons */
.button-group {
  padding-top: 6px;
}

.button-group button {
  margin-bottom: 6px;
}

/* Footer */
footer{
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    width:100%;
    position: relative;
    bottom: 0;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #283593;
}

footer a {

}
