<style=css/text>
html,body
{
	position:relative;
	height=100%;
}
body
{
	background:#eee;
	
	
}
.card-container
{
	position: relative;
	margin: 80px auto;
	width: 275px;
	height:300px;
	padding: 40px 40px 40px;
	border: 2px solid #ccc;
	text-align:center;
	background:#ccccff;
	border-radius:8px 8px 8px 8px;
}
.avatar
{
    width:110px;
    height:110px;
    margin: 10px auto;
    margin-top:0px;
    margin-bottom:15px;
    border-radius:100%;
    border: 2px solid #aaa;
    background-size:cover;
    background: #fff;
    overflow:hidden;
}
.avatar img
{
	width:auto;
	height:100px;
	margin-top:5px;
}
.form-box input
{
	width:100%;
	padding:10px;
	height:40px;
	border: 1px solid #ccc;
    background: #fafafa;
	
}
.form-box input:focus
{
    outline: 0;
    background: #eee;
}
.form-box input[type="text"]
{
    border-radius: 5px 5px 0 0;
}

.form-box input[type="password"]
{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}
.form-box input[type="submit"]
{
	margin-top:10px;
	padding: 10px 5px;
	background-color: #59B2E0;
	outline: none;
	width:75px;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	border-color: #59B2E6;
}
.form-box input[type="submit"]:hover
{
	opacity:.8;
}
.fgt-pswd
{
	margin:40px 0px 0 170px; 
}

</style>
